.addFormContainer {
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1;
  @media (max-width: 576px) {
    width: 100%;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .validationError {
      color: var(--error-color);
      font-size: 12px;
    }
  }
}
