.listItemContainer {
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 10px solid;
  border-width: 1px;
  border-image-source: linear-gradient(to left, transparent, var(--border-color), transparent);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-image-slice: 1;
  cursor: default;

  &:hover {
    .itemHeader {
      .itemHeaderImage {
        transform: scale(1.1);
        transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    }
  }

  .itemHeader {
    flex: 1 1;
    position: relative;
    overflow: hidden;
    .itemActions {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 9;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .favoriteButton,
      .deleteButton {
        border-radius: 50%;
        background-color: var(--background-color);
        width: 25px;
        height: 25px;
        padding: 5px;
        padding-top: 6px;
        cursor: pointer;
        &:hover {
          .favoriteIcon,
          .deleteIcon {
            filter: invert(14%) sepia(84%) saturate(4396%) hue-rotate(353deg) brightness(97%) contrast(105%);
          }
        }

        .favoriteIcon,
        .deleteIcon {
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: filter 0.2s ease-in-out;
        }
      }
    }

    .fireBadge {
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: 9;
      height: 25px;
      padding: 5px 10px;
      background-color: var(--background-color);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: bold;
      gap: 5px;
      color: var(--error-color);
      .fireIcon {
        height: 100%;
        width: auto;
        object-fit: contain;
      }
    }

    .itemHeaderImage {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      object-fit: cover;
    }
  }
  .itemBody {
    display: flex;
    flex-direction: column;
    padding: 10px;
    .itemBodyTitle {
      font-size: 14px;
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      cursor: pointer;
    }
    .itemBodyFavoriteCount {
      font-size: 12px;
    }
    .itemBodyUpdateDate {
      font-size: 12px;
    }
  }
}
