.alertMessageContainer {
  position: fixed;
  right: 0px;
  bottom: 30px;
  padding: 10px;
  font-size: 14px;

  @media (max-width: 576px) {
    right: 0;
    margin-left: 20px;
  }

  color: var(--background-color);
  background-color: var(--title-color);

  &.success {
    background-color: var(--success-hover-color);
  }
  &.error {
    background-color: var(--error-color);
  }
  &.info {
    background-color: var(--border-color);
  }
  &.warning {
    background-color: var(--title-color);
    color: var(--background-color);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
