:root {
  --background-color: #ffffff;
  --title-color: #010101;
  --description-color: #785a28;
  --border-color: #c89b3c;
  --success-color: #006d7b;
  --success-hover-color: #0094a5;
  --error-color: #db1515;
}
